@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Montserrat:wght@300;500;700&family=Six+Caps&display=swap");

:root {
  --light: #ede6db;
  --medium: #417d7a;
  --dark: #1d5c63;
  --veryDark: #1a3c40;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
